@import 'helpers/all';

html, body {
	text-rendering: optimizeLegibility;
	// box-sizing: border-box;
	margin: 0;
	padding: 0;
	// width: 100%;
	background: $white;
}

.hide {
	display: none;
}

.home-container {
	padding: 75px 0px 10px 75px;
}

.homeHeadline {
	font-family: $sansHeadline;
	font-size: 5rem;
	color: $dark;
	margin: 0;
	padding: 0;
}

.homeSubHeadline {
	font-family: $mainCourse;
	font-size: 2rem;
	color: $dark;
	margin-top: 10px;
	margin-bottom: 20px;
}

.topNav {
	background: $dark;
	height: 55px;
	width: 100%;
}

.mainCourseContainerHeadline {
	margin: 0;
	font-family: $mainCourse;
	color: $white;
	font-size: 2rem;
	border-bottom: 1px solid $white;
}

.startButton {
	text-align: center;
	padding: 10px 0px 10px 0px;
	font-family: $mainCourse;
	width: 150px;
	border: 2px solid $dark;
}

.startButton:hover {
	cursor: pointer;
	background: #960000;
	color: $white;
}

.navbar {
	width: 27%;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	background: $dark;
	display: flex;
	flex-direction: column;
}

.navbar-link {
	margin: 16px 0px 20px 0px;
}

.logout-btn {
	position: absolute;
	left: 35px;
	background: none;
	border: none;
	font-size: 1.4rem;
	font-family: $sansHeadline;
	color: $white;
  margin-top: 10px;
}

.logout-btn:hover {
	color: $redWine;
	cursor: pointer;
}

.logout-btn:focus {
	outline: 0;
	border-bottom: 1px solid $redWine;
	color: $redWine;
}

.header-link {
	color: $dark;
	list-style-type: none;
	margin-right: 35px;
	text-decoration: none;
}

.main-course-link {
	color: $white;
	padding-left: 8px;
	padding-right: 8px;
	font-family: $mainCourse;
	font-size: 2rem;
	text-decoration: none;
}

.main-course-link:hover {
	color: $whiteWine;
}

.homeLink {
	position: absolute;
	right: 35px;
	font-size: 1.4rem;
	font-family: $sansHeadline;
	color: $white;
	margin-top: 10px;
	text-decoration: none;
}

.homeLink:hover {
	color: $whiteWine;
}

.homeLink:focus {
	outline: 0;
	border-bottom: 1px solid $whiteWine;
	color: $whiteWine;
}

.startOver {
	position: absolute;
	right: 35px;
	font-size: 1.4rem;
	font-family: $sansHeadline;
	color: $white;
	margin-top: 10px;
	text-decoration: none;
}

.startOver:hover {
	color: $whiteWine;
}

.food-headline {
	padding: 11px 8px 5px 8px;
	font-family: $mainCourse;
	color: $white;
	font-size: 2rem;
	border-bottom: 1px solid $white;
}

.cookingStyleNavbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 666px;
	background: $dark;
	display: block;
	text-align: center;
}

.cookingStyleBtn {
	height: 35px;
	color: $white;
	background: $dark;
	margin: 45px 0px 45px 0px;
	display: block;
	font-family: $mainCourse;
	font-size: 2rem;
	border: 0;
}

.cookingStyleBtn:hover {
	cursor: pointer;
	color: $whiteWine;
}

.cookingStyleBtn:focus {
	outline: 0;
}

.outer-wine-container {
	margin-top: 0;
	margin: 0 auto;
}

.wine-container {
	margin-top: 35px;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.wine {
	text-align: center;
	display: flex;
	flex-direction: column;
}

.wine-pic {
	list-style-type: none;
	margin: 0 auto;
	height: 150px;
	width: 150px;
	border: 2px solid $dark;
	border-radius: 100%;
}

.wine-pic-frame {
	list-style-type: none;
}

.wine-details {
	text-align: center;
	width: 500px;
	font-size: 1.3rem;
	color: $dark;
	padding-top: 10px;
	margin: 0 auto;
	// display: flex;
	list-style-type: none;
  font-family: $mainCourse;
}

.wine-view {
	padding-bottom: 60px;
}

.auth-headline {
	color: $dark;
	font-family: $sansHeadline;
	font-size: 2rem;
	margin-top: 50px;
}

.auth-form {
	display: flex;
	flex-direction: column;
}

.auth-label {
	color: $dark;
	font-family: $mainCourse;
}

.auth-form-input {
	height: 35px;
	width: 300px;
	margin: 0 auto;
	margin-top: 20px;
	font-family: $mainCourse;
	font-size: 1.2rem;
	color: $dark;
	text-align: center;
	background: $white;
	border: 2px solid $dark;
	border-radius: 0;
}

.auth-form-input:hover {
	background: $white;
	border: 2px solid $redWine;
}

.auth-form-input:focus {
	outline: 0;
	background: $redWine;
	border: 2.5px solid $dark;
	color: $white;
}

.auth-input-btn {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
	font-family: $sansHeadline;
	font-size: 1.2rem;
	width: 310px;
	height: 40px;
	background: $white;
	border: 2px solid $dark;
}

.auth-input-btn:hover {
	background: $redWine;
	color: $white;
}

.auth-input-btn:focus {
	outline: 0;
	background: $redWine;
	color: $white;
}

.login-error {
	padding-top: 10px;
	font-family: $mainCourse;
	color: $redWine;
	font-size: 1.2rem;
}

.auth-container {
	text-align: center;
}

.login-switcher {
	color: $dark;
	font-family: $mainCourse;
	font-size: 1.2rem;
}

.login-switcher-link {
	color: $dark;
	text-decoration: underline;
}

.login-switcher-link:hover {
	font-weight: bold;
}

.footer {
	width: 100%;
	height: 60px;
}
// the .fa class handles the font-awesome icons.
.fa {
	text-align: center;
	z-index: 1;
	color: $dark;
	margin: 10px 20px 0px 60px;
	height: 30px;
	width: 30px;
}

.bandcamp:hover {
	color: hsl(179, 100%, 44%);
}
.soundcloud:hover {
	color: hsl(18, 100%, 50%);
}
.facebook:hover {
	color: hsl(333, 82%, 59%);
}
.github:hover {
	color: hsl(47, 98%, 54%);
}
.gPlus:hover {
	color: hsl(4, 67%, 52%);
}
.linkedin:hover {
	color: hsl(145, 74%, 47%);
}

/*
THIS IS FOR TAB TAB TAB TABLETS TABLETS
*/

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

		.navbar {
			width: 50%;
			height: 150%;
			text-align: center;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			background: $dark;
			display: flex;
			flex-direction: column;
		}

		.mainCourseContainerHeadline {
			padding-top: 2px;
			padding-bottom: 8px;
		}

		.cookingStyleNavbar {
			width: 50%;
			height: 150%;
		}

		.navbar-link {
			margin: 5px 0px 20px 0px;
		}

		.food-headline {
			padding: 10px 8px 5px 8px;
		}

		.auth-form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 50%;
			margin: 0 auto;
		}
}


/*
THIS IS FOR MOBILE MOBILE MOBILE MOBILE
*/

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2) {

		html, body {
			text-rendering: optimizeLegibility;
			// box-sizing: border-box;
			margin: 0;
			padding: 0;
			width: 100%;
		}

		.home-container {
			padding: 40px 0px 0px 45px;
		}

		.homeHeadline {
			font-size: 2.5rem;
			margin: 0;
			padding: 0;
		}

		.homeSubHeadline {
			font-size: 1.2rem;
			margin-top: 10px;
			margin-bottom: 10px;
		}

		.topNav {
			background: $dark;
			height: 40px;
			width: 100%;
		}

		.homeLink {
			position: absolute;
			right: 35px;
			font-size: 1em;
			margin-top: 10px;
			text-decoration: none;
		}

		.startOver {
			position: absolute;
			right: 35px;
			font-size: 1em;
			margin-top: 10px;
			text-decoration: none;
		}

		.logout-btn {
			position: absolute;
			left: 15px;
			background: none;
			border: none;
			font-size: 1em;
		  margin-top: 10px;
		}

		.startButton {
			text-align: center;
			padding: 8px 0px 8px 0px;
			font-size: 1rem;
			width: 150px;
		}

		.navbar {
			width: 65%;
			height: 115%;
			text-align: center;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			display: flex;
			flex-direction: column;
		}

		.navbar-link {
			margin: 8px 0px 20px 0px;
		}

		.mainCourseContainerHeadline {
			font-size: 1rem;
			border-bottom: 1px solid $white;
			padding-top: 4px;
			padding-bottom: 7px;
		}

		.main-course-link {
			font-size: 1rem;
			text-decoration: none;
		}

		.food-headline {
			padding: 9px 8px 10px 8px;
			font-size: 1rem;
			border-bottom: 1px solid $white;
		}

		.cookingStyleNavbar {
			position: absolute;
			top: 0;
			left: 0;
			width: 65%;
			height: 150%;
			display: block;
			text-align: center;
		}

		.cookingStyleBtn {
			margin: 20px 0px 20px 20px;
			font-size: 1rem;
		}

		.wine {
			padding-left: 0px;
		}

		.wine-container {
			margin-top: 35px;
			text-align: center;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}

		.wine-pic {
			list-style-type: none;
			margin: 0 auto;
			height: 75px;
			width: 75px;
			border: $dark;
			border-radius: 100%;
		}

		.wine-details {
			width: 100%;
			text-align: center;
			font-size: 1rem;
			color: $dark;
			padding-top: 5px;
			display: flex;
			justify-content: center;
			list-style-type: none;
		  font-family: $mainCourse;
		}

		.auth-form-input {
			width: 290px;
			height: 30px;
		}

}
