@import 'helpers/all';

html, body {
	text-rendering: optimizeLegibility;
	// box-sizing: border-box;
	margin: 0;
	padding: 0;
	// width: 100%;
	background: $white;
}

.hide {
	display: none;
}

.home-container {
	padding: 50px 0px 10px 65px;
}

.homeHeadline {
	font-family: $sansHeadline;
	font-size: 3rem;
	color: $dark;
	margin: 0;
	padding: 0;
}

.homeSubHeadline {
	font-family: $sansHeadline;
	color: $dark;
	margin-top: 10px;
	margin-bottom: 20px;
}

.topNav {
	background: $dark;
	height: 55px;
	width: 100%;
}

.mainCourseContainerHeadline {
	margin: 0;
	font-family: $sansHeadline;
	color: $white;
	font-size: 1.2rem;
	border-bottom: 1px solid $white;
	padding-bottom: 11px;
}

.startButton {
	text-align: center;
	padding: 10px 0px 10px 0px;
	font-family: $sansHeadline;
	width: 150px;
	border: 1.5px solid $dark;
}

.startButton:hover {
	cursor: pointer;
	background: $dark;
	color: $white;
}

.navbar {
	width: 300px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	background: $dark;
	display: flex;
	flex-direction: column;
}

.navbar-link {
	margin: 20px 10px 20px 10px;
}

.logout-btn {
	position: absolute;
	left: 35px;
	background: none;
	border: none;
	font-size: 1.4rem;
	font-family: $sansHeadline;
	color: $white;
  margin-top: 10px;
}

.header-link {
	color: $dark;
	list-style-type: none;
	margin-right: 35px;
	text-decoration: none;
}

.main-course-link {
	color: $white;
	padding-left: 8px;
	padding-right: 8px;
	font-family: $sansHeadline;
	font-size: 1.2rem;
	text-decoration: none;
}

.homeLink {
	position: absolute;
	right: 35px;
	font-size: 1.4rem;
	font-family: $sansHeadline;
	color: $white;
	margin-top: 10px;
	text-decoration: none;
}

.food-headline {
	padding: 11px 8px 20px 8px;
	font-family: $sansHeadline;
	color: $white;
	font-size: 1.2rem;
	border-bottom: 1px solid $white;
}

.form-control {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 666px;
	background: $dark;
	display: block;
	text-align: center;
}

.cookingStyleBtn {
	height: 35px;
	width: 150px;
	color: $white;
	background: $dark;
	margin: 0 auto;
	padding-top: 25px;
	padding-bottom: 25px;
	display: block;
	font-family: $sansHeadline;
	font-size: 1.2rem;
	text-align: center;
	border: 0;
}

.outer-wine-container {
	margin-top: 0;
	margin: 0 auto;
}

.wine-container {
	margin-top: 35px;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.wine {
	text-align: center;
	display: flex;
	flex-direction: column;
}

.wine-pic {
	list-style-type: none;
	margin: 0 auto;
	height: 150px;
	width: 150px;
	border: $dark-border;
	border-radius: 100%;
}

.wine-pic-frame {
	list-style-type: none;
}

.wine-details {
	font-size: 1.3rem;
	color: $dark;
	padding-top: 10px;
	margin: 0 auto;
	display: flex;
	list-style-type: none;
  font-family: $sansHeadline;
  letter-spacing: 2px;
}

.wine-view {
	padding-bottom: 60px;
}

.auth-headline {
	text-rendering: optimizeLegibility;
	color: $dark;
	font-size: 2.7rem;
	font-family: $mainCourse;
}

.auth-form {
	display: flex;
	flex-direction: column;
}

.auth-label {
	color: $dark;
	font-family: $serifBody;
}

.auth-form-input {
	font-size: 1.2rem;
	font-weight: lighter;
	font-family: $sansHeadline;
	margin: 0 auto;
	margin-bottom: 10px;
	width: 220px;
	height: 30px;
	background: none;
	border: $dark-border;
	text-align: center;
}

.auth-input-btn {
	font-family: $serifBody;
	font-size: 1.2rem;
	margin: 0 auto;
	margin-bottom: 10px;
	width: 228px;
	height: 32px;
	background: none;
	color: $dark;
	border: $dark-border;
}

.login-error {
	padding-top: 10px;
	font-size: 1.1rem;
	font-family: sans-serif;
	color: $color-of-error;
}

.auth-input-btn:hover {
	background-color: $dark-red-wine;
	color: $white;
}

#email:hover {
	background: $dark-red-wine;
	color: hsl(36, 100%, 95%);
	border: 2px solid hsl(20, 30%, 27%);
}

#password:hover {
	background: $white-wine;
}

.auth-container {
	text-align: center;
}

.login-switcher {
	color: $dark;
	font-family: sans-serif;
}

.login-switcher-link {
	color: $dark;
	text-decoration: underline;
}

.login-switcher-link:hover {
	font-weight: bold;
}

.wine-weight-em {
	color: $dark-red-wine;
}

.footer {
	width: 100%;
	height: 60px;
	background: $footer-background-color;
}

.logo-foot {
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	height: 50px;
	width: 65px;
}

.fa {
	text-align: center;
	z-index: 1;
	color: $white;
	margin: 10px 20px 0px 60px;
	height: 30px;
	width: 30px;
}

.bandcamp:hover {
	color: hsl(179, 100%, 44%);
}
.soundcloud:hover {
	color: hsl(18, 100%, 50%);
}
.facebook:hover {
	color: hsl(333, 82%, 59%);
}
.github:hover {
	color: hsl(47, 98%, 54%);
}
.gPlus:hover {
	color: hsl(4, 67%, 52%);
}
.linkedin:hover {
	color: hsl(145, 74%, 47%);
}
/*        EXPERIMENTS         */

@media (max-width: 600px) {
	.html, body {
		width: 600px;
		height: 100%;
	}
	.main-headline-container {
		width: 400px;
		display: flex;
		justify-content: center;
	}
}
@media (max-width: 375px) {
	.main-headline-container {
		width: 375px;
	}
}
