@import 'helpers/all';

html, body {
	text-rendering: optimizeLegibility;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	height: 2000px;
	width: 100%;
	background: $white;
}
.main-headline-container {
	background-image: url('/images/grapesOne.jpg');
	background-position: center;
	height: 666px;
	width: 100%;
	text-align: center;
}
.main-headline {
	font-family: $sansHeadline;
	margin: 0 auto;
	color: $white;
	padding-top: 250px;
	letter-spacing: 10px;
	font-weight: 300;
	font-size: 6rem;
}
.main-sub-headline {
	color: $dark;
	font-family: $serifBody;
	font-size: 1.2rem;
	letter-spacing: 1.5px;
}
.sub-headline-container {
	color: $dark;
	font-family: sans-serif;
	text-align: center;
}
.btn {
	color: $dark;
	font-family: $serifBody;
	font-size: 1.2rem;
	font-weight: lighter;
	height: 50px;
	width: 200px;
	border: $dark-border;
	background: none;
	margin: 0px 5px 0px 5px;
}
.btn:hover {
	color: $white;
	background: $dark;
	font-weight: lighter;
}
.navbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.navbar-link {
	color: $dark;
	height: 16px;
	margin: 0px 10px 0px 10px;
	list-style-type: none;
}
.logout-btn {
	background: none;
	border: none;
	font-size: 1.4rem;
	color: $dark;
	font-family: $sansHeadline;
}
.logout-btn:hover {
	color: $complementaryBlue;
}
.header-link {
	color: $dark;
	list-style-type: none;
	text-align: center;
	margin-right: 35px;
	text-decoration: none;
/*	letter-spacing: 2px;*/
}
.main-course-link {
	color: $dark;
	padding-left: 8px;
	padding-right: 8px;
	font-family: $sansHeadline;
	font-size: 1.2rem;
	text-decoration: none;
	letter-spacing: 3px;
}
.main-course-link:hover {
	color: $complementaryBlue;
}

// home link
.link {
	color: $dark;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 1.4rem;
	font-family: $sansHeadline;
	text-decoration: none;
}
.link:hover {
	color: $complementaryBlue;
}
.food-headline {
	color: $dark;
	text-align: center;
	font-family: $great-vibes;
	letter-spacing: 4px;
	font-weight: lighter;
	font-size: 2rem;
}
.form-control {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.outer-wine-container {
	margin-top: 0;
	margin: 0 auto;
}
.wine-container {
	margin-top: 35px;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.wine {
	text-align: center;
	display: flex;
	flex-direction: column;
}
.wine-pic {
	list-style-type: none;
	margin: 0 auto;
	height: 150px;
	width: 150px;
	border: $dark-border;
	border-radius: 100%;
}
.wine-pic-frame {
	list-style-type: none;
}
.wine-details {
	font-size: 1.3rem;
	color: $dark;
	padding-top: 10px;
	margin: 0 auto;
	display: flex;
	list-style-type: none;
  font-family: $sansHeadline;
  letter-spacing: 2px;
}
.wine-view {
	padding: 10px;
	padding-bottom: 60px;
}
.auth-headline {
	text-rendering: optimizeLegibility;
	color: $dark;
	font-size: 2.7rem;
	font-family: $great-vibes;
}
.auth-form {
	display: flex;
	flex-direction: column;
}
.auth-label {
	color: $dark;
	font-family: $serifBody;
}
.auth-form-input {
	font-size: 1.2rem;
	font-weight: lighter;
	font-family: $sansHeadline;
	margin: 0 auto;
	margin-bottom: 10px;
	width: 220px;
	height: 30px;
	background: none;
	border: $dark-border;
	text-align: center;
}
.auth-input-btn {
	font-family: $serifBody;
	font-size: 1.2rem;
	margin: 0 auto;
	margin-bottom: 10px;
	width: 228px;
	height: 32px;
	background: none;
	color: $dark;
	border: $dark-border;
}
.login-error {
	padding-top: 10px;
	font-size: 1.1rem;
	font-family: sans-serif;
	color: $color-of-error;
}
.auth-input-btn:hover {
	background-color: $dark-red-wine;
	color: $white;
}
#email:hover {
	background: $dark-red-wine;
	color: hsl(36, 100%, 95%);
	border: 2px solid hsl(20, 30%, 27%);
}
#password:hover {
	background: $white-wine;
}
.auth-container {
	text-align: center;
}
.login-switcher {
	color: $dark;
	font-family: sans-serif;
}
.login-switcher-link {
	color: $dark;
	text-decoration: underline;
}
.login-switcher-link:hover {
	font-weight: bold;
}
.home-container {
	text-align: center;
}
.home-headline {
	margin-top: 0px;
	padding-top: 150px;
	color: $dark;
	font-family: $sansHeadline;
	font-size: 3.5rem;
}
.home-photo {
	margin: 0;
	background: url(/images/vinyardYo.jpg);
	height: 1600px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	border: 2px solid $complementaryBlue;
}
.home-icon {
	padding-top: 20px;
	padding-right: 15px;
}
.home-icon-cuts {
	padding-top: 19px;
	padding-left: 4px;
}
.home-icon-container {
	background: $white;
	margin: 0 auto;
	border: 2px solid $complementaryBlue;
	border-radius: 100%;
	height: 175px;
	width: 175px;
}
.home-paragraph {
	line-height: 50px;
	color: $dark;
	letter-spacing: 2px;
	font-family: $serifBody;
	font-size: 1.3rem;
}
.wine-weight-em {
	color: $dark-red-wine;
}
.footer {
	width: 100%;
	height: 60px;
	background: $footer-background-color;
}
.logo-foot {
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	height: 50px;
	width: 65px;
}
.fa {
	text-align: center;
	z-index: 1;
	color: $white;
	margin: 10px 20px 0px 60px;
	height: 30px;
	width: 30px;
}
.bandcamp:hover {
	color: hsl(179, 100%, 44%);
}
.soundcloud:hover {
	color: hsl(18, 100%, 50%);
}
.facebook:hover {
	color: hsl(333, 82%, 59%);
}
.github:hover {
	color: hsl(47, 98%, 54%);
}
.gPlus:hover {
	color: hsl(4, 67%, 52%);
}
.linkedin:hover {
	color: hsl(145, 74%, 47%);
}
/*        EXPERIMENTS         */

@media (max-width: 600px) {
	.html, body {
		width: 600px;
		height: 100%;
	}
	.main-headline-container {
		width: 400px;
		display: flex;
		justify-content: center;
	}
}
@media (max-width: 375px) {
	.main-headline-container {
		width: 375px;
	}
}
