html, body {
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  background: #F2F2F2; }

.hide {
  display: none; }

.home-container {
  padding: 50px 0px 10px 65px; }

.homeHeadline {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 3rem;
  color: #333;
  margin: 0;
  padding: 0; }

.homeSubHeadline {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #333;
  margin-top: 10px;
  margin-bottom: 20px; }

.topNav {
  background: #333;
  height: 55px;
  width: 100%; }

.mainCourseContainerHeadline {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #F2F2F2;
  font-size: 1.2rem;
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 11px; }

.startButton {
  text-align: center;
  padding: 10px 0px 10px 0px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  width: 150px;
  border: 1.5px solid #333; }

.startButton:hover {
  cursor: pointer;
  background: #333;
  color: #F2F2F2; }

.navbar {
  width: 300px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: #333;
  display: flex;
  flex-direction: column; }

.navbar-link {
  margin: 20px 10px 20px 10px; }

.logout-btn {
  position: absolute;
  left: 35px;
  background: none;
  border: none;
  font-size: 1.4rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #F2F2F2;
  margin-top: 10px; }

.header-link {
  color: #333;
  list-style-type: none;
  margin-right: 35px;
  text-decoration: none; }

.main-course-link {
  color: #F2F2F2;
  padding-left: 8px;
  padding-right: 8px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.2rem;
  text-decoration: none; }

.homeLink {
  position: absolute;
  right: 35px;
  font-size: 1.4rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #F2F2F2;
  margin-top: 10px;
  text-decoration: none; }

.food-headline {
  padding: 11px 8px 20px 8px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #F2F2F2;
  font-size: 1.2rem;
  border-bottom: 1px solid #F2F2F2; }

.form-control {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 666px;
  background: #333;
  display: block;
  text-align: center; }

.cookingStyleBtn {
  height: 35px;
  width: 150px;
  color: #F2F2F2;
  background: #333;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  display: block;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  border: 0; }

.outer-wine-container {
  margin-top: 0;
  margin: 0 auto; }

.wine-container {
  margin-top: 35px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.wine {
  text-align: center;
  display: flex;
  flex-direction: column; }

.wine-pic {
  list-style-type: none;
  margin: 0 auto;
  height: 150px;
  width: 150px;
  border: 2px solid #722F37;
  border-radius: 100%; }

.wine-pic-frame {
  list-style-type: none; }

.wine-details {
  font-size: 1.3rem;
  color: #333;
  padding-top: 10px;
  margin: 0 auto;
  display: flex;
  list-style-type: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 2px; }

.wine-view {
  padding-bottom: 60px; }

.auth-headline {
  text-rendering: optimizeLegibility;
  color: #333;
  font-size: 2.7rem;
  font-family: "Optima"; }

.auth-form {
  display: flex;
  flex-direction: column; }

.auth-label {
  color: #333;
  font-family: "Crimson Text", serif; }

.auth-form-input {
  font-size: 1.2rem;
  font-weight: lighter;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 220px;
  height: 30px;
  background: none;
  border: 2px solid #722F37;
  text-align: center; }

.auth-input-btn {
  font-family: "Crimson Text", serif;
  font-size: 1.2rem;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 228px;
  height: 32px;
  background: none;
  color: #333;
  border: 2px solid #722F37; }

.login-error {
  padding-top: 10px;
  font-size: 1.1rem;
  font-family: sans-serif;
  color: #991a2d; }

.auth-input-btn:hover {
  background-color: #673432;
  color: #F2F2F2; }

#email:hover {
  background: #673432;
  color: #fff5e6;
  border: 2px solid #5a3e30; }

#password:hover {
  background: #d7b650; }

.auth-container {
  text-align: center; }

.login-switcher {
  color: #333;
  font-family: sans-serif; }

.login-switcher-link {
  color: #333;
  text-decoration: underline; }

.login-switcher-link:hover {
  font-weight: bold; }

.wine-weight-em {
  color: #673432; }

.footer {
  width: 100%;
  height: 60px;
  background: #949f9f; }

.logo-foot {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  height: 50px;
  width: 65px; }

.fa {
  text-align: center;
  z-index: 1;
  color: #F2F2F2;
  margin: 10px 20px 0px 60px;
  height: 30px;
  width: 30px; }

.bandcamp:hover {
  color: #00e0dd; }

.soundcloud:hover {
  color: #ff4d00; }

.facebook:hover {
  color: #ec418e; }

.github:hover {
  color: #fdcb17; }

.gPlus:hover {
  color: #d73e33; }

.linkedin:hover {
  color: #1fd169; }

/*        EXPERIMENTS         */
@media (max-width: 600px) {
  .html, body {
    width: 600px;
    height: 100%; }

  .main-headline-container {
    width: 400px;
    display: flex;
    justify-content: center; } }
@media (max-width: 375px) {
  .main-headline-container {
    width: 375px; } }

/*# sourceMappingURL=main.css.map */
