html, body {
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 2000px;
  width: 100%;
  background: #FAFBF8; }

.btn {
  color: #434E3C;
  font-family: "Crimson Text", serif;
  font-size: 1.2rem;
  font-weight: lighter;
  height: 50px;
  width: 200px;
  border: 2px solid #722F37;
  background: none;
  margin: 0px 5px 0px 5px; }

.btn:hover {
  color: #FAFBF8;
  background: #434E3C;
  font-weight: lighter; }

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.navbar-link {
  color: #434E3C;
  height: 16px;
  margin: 0px 10px 0px 10px;
  list-style-type: none; }

.logout-btn {
  background: none;
  border: none;
  font-size: 1.4rem;
  color: #434E3C;
  font-family: "Rosario", sans-serif; }

.logout-btn:hover {
  color: #949f9f; }

.header-link {
  color: #434E3C;
  list-style-type: none;
  text-align: center;
  margin-right: 35px;
  text-decoration: none;
  /*	letter-spacing: 2px;*/ }

.main-course-link {
  color: #434E3C;
  padding-left: 8px;
  padding-right: 8px;
  font-family: "Rosario", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  letter-spacing: 3px; }

.main-course-link:hover {
  color: #949f9f; }

.link {
  color: #434E3C;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 1.4rem;
  font-family: "Rosario", sans-serif;
  text-decoration: none; }

.link:hover {
  color: #949f9f; }

.food-headline {
  color: #434E3C;
  text-align: center;
  font-family: "Great Vibes", cursive;
  letter-spacing: 4px;
  font-weight: lighter;
  font-size: 2rem; }

.form-control {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.outer-wine-container {
  margin-top: 0;
  margin: 0 auto; }

.wine-container {
  margin-top: 35px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.wine {
  text-align: center;
  display: flex;
  flex-direction: column; }

.wine-pic {
  list-style-type: none;
  margin: 0 auto;
  height: 150px;
  width: 150px;
  border: 2px solid #722F37;
  border-radius: 100%; }

.wine-pic-frame {
  list-style-type: none; }

.wine-details {
  font-size: 1.3rem;
  color: #434E3C;
  padding-top: 10px;
  margin: 0 auto;
  display: flex;
  list-style-type: none;
  font-family: "Rosario", sans-serif;
  letter-spacing: 2px; }

.wine-view {
  padding: 10px;
  padding-bottom: 60px; }

.auth-headline {
  text-rendering: optimizeLegibility;
  color: #434E3C;
  font-size: 2.7rem;
  font-family: "Great Vibes", cursive; }

.auth-form {
  display: flex;
  flex-direction: column; }

.auth-label {
  color: #434E3C;
  font-family: "Crimson Text", serif; }

.auth-form-input {
  font-size: 1.2rem;
  font-weight: lighter;
  font-family: "Rosario", sans-serif;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 220px;
  height: 30px;
  background: none;
  border: 2px solid #722F37;
  text-align: center; }

.auth-input-btn {
  font-family: "Crimson Text", serif;
  font-size: 1.2rem;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 228px;
  height: 32px;
  background: none;
  color: #434E3C;
  border: 2px solid #722F37; }

.login-error {
  padding-top: 10px;
  font-size: 1.1rem;
  font-family: sans-serif;
  color: #991a2d; }

.auth-input-btn:hover {
  background-color: #673432;
  color: #FAFBF8; }

#email:hover {
  background: #673432;
  color: #fff5e6;
  border: 2px solid #5a3e30; }

#password:hover {
  background: #d7b650; }

.auth-container {
  text-align: center; }

.login-switcher {
  color: #434E3C;
  font-family: sans-serif; }

.login-switcher-link {
  color: #434E3C;
  text-decoration: underline; }

.login-switcher-link:hover {
  font-weight: bold; }

.home-container {
  text-align: center; }

.home-headline {
  margin-top: 0px;
  padding-top: 150px;
  color: #434E3C;
  font-family: "Rosario", sans-serif;
  font-size: 3.5rem; }

.home-photo {
  margin: 0;
  background: url(/images/vinyardYo.jpg);
  height: 1600px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #949f9f; }

.home-icon {
  padding-top: 20px;
  padding-right: 15px; }

.home-icon-cuts {
  padding-top: 19px;
  padding-left: 4px; }

.home-icon-container {
  background: #FAFBF8;
  margin: 0 auto;
  border: 2px solid #949f9f;
  border-radius: 100%;
  height: 175px;
  width: 175px; }

.home-paragraph {
  line-height: 50px;
  color: #434E3C;
  letter-spacing: 2px;
  font-family: "Crimson Text", serif;
  font-size: 1.3rem; }

.wine-weight-em {
  color: #673432; }

.footer {
  width: 100%;
  height: 60px;
  background: #949f9f; }

.logo-foot {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  height: 50px;
  width: 65px; }

.fa {
  text-align: center;
  z-index: 1;
  color: #FAFBF8;
  margin: 10px 20px 0px 60px;
  height: 30px;
  width: 30px; }

.bandcamp:hover {
  color: #00e0dd; }

.soundcloud:hover {
  color: #ff4d00; }

.facebook:hover {
  color: #ec418e; }

.github:hover {
  color: #fdcb17; }

.gPlus:hover {
  color: #d73e33; }

.linkedin:hover {
  color: #1fd169; }

/*        EXPERIMENTS         */
@media (max-width: 600px) {
  .html, body {
    width: 600px;
    height: 100%; }

  .main-headline-container {
    width: 400px;
    display: flex;
    justify-content: center; } }
@media (max-width: 375px) {
  .main-headline-container {
    width: 375px; } }

/*# sourceMappingURL=main.css.map */
