/*
 Setting up variables to be used in the main.scss file.
*/
html, body {
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  background: #F2F2F2; }

.hide {
  display: none; }

.home-container {
  padding: 75px 0px 10px 75px; }

.homeHeadline {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 5rem;
  color: #333;
  margin: 0;
  padding: 0; }

.homeSubHeadline {
  font-family: "Optima";
  font-size: 2rem;
  color: #333;
  margin-top: 10px;
  margin-bottom: 20px; }

.topNav {
  background: #333;
  height: 55px;
  width: 100%; }

.mainCourseContainerHeadline {
  margin: 0;
  font-family: "Optima";
  color: #F2F2F2;
  font-size: 2rem;
  border-bottom: 1px solid #F2F2F2; }

.startButton {
  text-align: center;
  padding: 10px 0px 10px 0px;
  font-family: "Optima";
  width: 150px;
  border: 2px solid #333; }

.startButton:hover {
  cursor: pointer;
  background: #960000;
  color: #F2F2F2; }

.navbar {
  width: 27%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: #333;
  display: flex;
  flex-direction: column; }

.navbar-link {
  margin: 16px 0px 20px 0px; }

.logout-btn {
  position: absolute;
  left: 35px;
  background: none;
  border: none;
  font-size: 1.4rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #F2F2F2;
  margin-top: 10px; }

.logout-btn:hover {
  color: #960000;
  cursor: pointer; }

.logout-btn:focus {
  outline: 0;
  border-bottom: 1px solid #960000;
  color: #960000; }

.header-link {
  color: #333;
  list-style-type: none;
  margin-right: 35px;
  text-decoration: none; }

.main-course-link {
  color: #F2F2F2;
  padding-left: 8px;
  padding-right: 8px;
  font-family: "Optima";
  font-size: 2rem;
  text-decoration: none; }

.main-course-link:hover {
  color: #eef4d4; }

.homeLink {
  position: absolute;
  right: 35px;
  font-size: 1.4rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #F2F2F2;
  margin-top: 10px;
  text-decoration: none; }

.homeLink:hover {
  color: #eef4d4; }

.homeLink:focus {
  outline: 0;
  border-bottom: 1px solid #eef4d4;
  color: #eef4d4; }

.startOver {
  position: absolute;
  right: 35px;
  font-size: 1.4rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #F2F2F2;
  margin-top: 10px;
  text-decoration: none; }

.startOver:hover {
  color: #eef4d4; }

.startOver:focus {
  outline: 0;
  border-bottom: 1px solid #eef4d4;
  color: #eef4d4; }

.logoContainer {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 140px;
  margin-top: 10px; }

.pesoDelVinoLogo {
  width: 35px;
  height: 35px; }

.pesoDelVinoLogo:focus {
  outline: 0; }

.aboutMeText {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

.food-headline {
  padding: 11px 8px 5px 8px;
  font-family: "Optima";
  color: #F2F2F2;
  font-size: 2rem;
  border-bottom: 1px solid #F2F2F2; }

.cookingStyleNavbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 666px;
  background: #333;
  display: block;
  text-align: center; }

.cookingStyleBtn {
  height: 35px;
  color: #F2F2F2;
  background: #333;
  margin: 45px 0px 45px 0px;
  display: block;
  font-family: "Optima";
  font-size: 2rem;
  border: 0; }

.cookingStyleBtn:hover {
  cursor: pointer;
  color: #eef4d4; }

.cookingStyleBtn:focus {
  outline: 0; }

.outer-wine-container {
  margin-top: 0;
  margin: 0 auto; }

.wine-container {
  margin-top: 35px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.wine {
  text-align: center;
  display: flex;
  flex-direction: column; }

.wine-pic {
  list-style-type: none;
  margin: 0 auto;
  height: 150px;
  width: 150px;
  border: 2px solid #333;
  border-radius: 100%; }

.wine-pic-frame {
  list-style-type: none; }

.wine-details {
  text-align: center;
  width: 500px;
  font-size: 1.3rem;
  color: #333;
  padding-top: 10px;
  margin: 0 auto;
  list-style-type: none;
  font-family: "Optima"; }

.wine-view {
  padding-bottom: 60px; }

.auth-headline {
  color: #333;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 2rem;
  margin-top: 50px; }

.auth-form {
  display: flex;
  flex-direction: column; }

.auth-label {
  color: #333;
  font-family: "Optima"; }

.auth-form-input {
  height: 35px;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.2rem;
  color: #333;
  text-align: center;
  background: #F2F2F2;
  border: 2px solid #333;
  border-radius: 0; }

.auth-form-input:hover {
  background: #F2F2F2;
  border: 2px solid #960000; }

.auth-form-input:focus {
  outline: 0;
  background: #960000;
  border: 2.5px solid #333;
  color: #F2F2F2; }

.auth-input-btn {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.2rem;
  width: 310px;
  height: 40px;
  background: #F2F2F2;
  border: 2px solid #333; }

.auth-input-btn:hover {
  background: #960000;
  color: #F2F2F2; }

.auth-input-btn:focus {
  outline: 0;
  background: #960000;
  color: #F2F2F2; }

.login-error {
  padding-top: 10px;
  font-family: "Optima";
  color: #960000;
  font-size: 1.2rem; }

.auth-container {
  text-align: center; }

.login-switcher {
  color: #333;
  font-family: "Optima";
  font-size: 1.2rem; }

.login-switcher-link {
  color: #333;
  text-decoration: underline; }

.login-switcher-link:hover {
  font-weight: bold; }

.footer {
  margin-left: 56px;
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0; }

.fa {
  text-align: center;
  z-index: 1;
  color: #333;
  margin: 10px 20px 10px 20px;
  height: 30px;
  width: 30px; }

.github:hover {
  color: #960000; }

.linkedin:hover {
  color: #960000; }

.twitter:hover {
  color: #960000; }

.ello:hover {
  color: #960000; }

.bandcamp:hover {
  color: #960000; }

.soundcloud:hover {
  color: #960000; }

/*
THIS IS FOR TABLETS
*/
@media only screen and (min-device-width: 736px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .navbar {
    width: 50%;
    height: 150%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: #333;
    display: flex;
    flex-direction: column; }

  .mainCourseContainerHeadline {
    padding-top: 2px;
    padding-bottom: 8px; }

  .cookingStyleNavbar {
    width: 50%;
    height: 150%; }

  .navbar-link {
    margin: 5px 0px 20px 0px; }

  .food-headline {
    padding: 10px 8px 5px 8px; }

  .auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0 auto; }

  .pesoDelVinoLogo {
    width: 30px;
    height: 30px;
    margin-left: 10px; }

  .footer {
    position: absolute;
    bottom: 0; }

  .fa {
    height: 25px;
    width: 25px;
    margin-left: 5%;
    margin-right: 5%; } }
/*
THIS IS FOR MOBILE
*/
@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) {
  html, body {
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    width: 100%; }

  .home-container {
    padding: 40px 0px 0px 25px; }

  .homeHeadline {
    font-size: 2.5rem;
    margin: 0;
    padding: 0; }

  .homeSubHeadline {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px; }

  .aboutMeText {
    font-size: .6rem; }

  .topNav {
    background: #333;
    height: 40px;
    width: 100%; }

  .homeLink {
    position: absolute;
    right: 35px;
    font-size: 1em;
    margin-top: 10px;
    text-decoration: none; }

  .startOver {
    position: absolute;
    right: 35px;
    font-size: 1em;
    margin-top: 10px;
    text-decoration: none; }

  .logout-btn {
    position: absolute;
    left: 15px;
    background: none;
    border: none;
    font-size: 1em;
    margin-top: 10px; }

  .startButton {
    text-align: center;
    padding: 8px 0px 8px 0px;
    font-size: 1rem;
    width: 150px; }

  .navbar {
    width: 65%;
    height: 150%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column; }

  .navbar-link {
    margin: 8px 0px 20px 0px; }

  .mainCourseContainerHeadline {
    font-size: 1rem;
    border-bottom: 1px solid #F2F2F2;
    padding-top: 4px;
    padding-bottom: 7px; }

  .main-course-link {
    font-size: 1rem;
    text-decoration: none; }

  .food-headline {
    padding: 9px 8px 10px 8px;
    font-size: 1rem;
    border-bottom: 1px solid #F2F2F2; }

  .cookingStyleNavbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 150%;
    display: block;
    text-align: center; }

  .cookingStyleBtn {
    margin: 20px 0px 20px 0px;
    font-size: 1rem; }

  .wine {
    padding-left: 0px; }

  .wine-container {
    margin-top: 35px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }

  .wine-pic {
    list-style-type: none;
    margin: 0 auto;
    height: 75px;
    width: 75px;
    border: 2px solid #333;
    border-radius: 100%; }

  .wine-details {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: #333;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-family: "Optima"; }

  .auth-form-input {
    width: 290px;
    height: 30px; }

  .pesoDelVinoLogo {
    width: 22px;
    height: 22px;
    position: relative;
    right: 40px; }

  .footer {
    display: none; } }

/*# sourceMappingURL=main.css.map */
