<div class="auth-container">
  <h1 class="auth-headline">Login or Register</h1>
  <div>
    <form class="auth-form">
      <label class="auth-label">Email:</label>
      <input type="text" class="auth-form-input" id="email" ng-model="email"/>

      <label class="auth-label">Password:</label>
      <input type="text" class="auth-form-input" id="password" ng-model="password"/>
    </form>

    <div ng-if="state === 'register'">
      <button class="auth-input-btn" ng-click="clickRegister()">Register</button>
      <div>Need to <a ng-click="changeState('login')">login instead</a></div>
    </div>

    <div ng-if="state === 'login'">
      <button class="auth-input-btn" ng-click="clickLogin()">Login</button>
      <div>Need to <a ng-click="changeState('register')">register instead?</a></div>
    </div>

    <div class="row bg-warning" ng-if="loginError">
    Login failed.
    </div>

    <div class="row bg-warning" ng-if="regError">
    Registration failed.
    </div>


  </div>

</div>

