<h1 class="food-headline">Beef Pairing</h1>

<div class="form-control">
    <form>
      <button class="btn" ng-click="getSimpleBeef()">Grilled</button>
    </form>
    <form>
      <button class="btn" ng-click="getSlowCookBeef()">Slow Cook</button>
    </form>
    <form>
      <button class="btn" ng-click="getPrimeRib()">Prime Rib</button>
    </form>
    <form>
      <button class="btn" ng-click="getTenderloin()">Tenderloin</button>
    </form>
</div>
<div class="outer-wine-contatiner">
    <div class="wine-container" ng-repeat="key in wineData">
      <div class="wine"> 
          <img ng-src="{{key.image}}">
          <ul>
            <li class="wine-details">{{key.name}}</li>
            <li class="wine-details">${{key.price}}</li>
            <li class="wine-details">{{key.varietal}}</li>
            <li class="wine-details">{{key.vintage}}</li>
            <li class="wine-details">{{key.region}}</li>
          </ul>
      </div>
    </div>
</div>