<div class="outer-wine-container">

<div class="form-control">
  <form>
      <div class="food-headline">Beef Pairing</div>
      <button class="cookingStyleBtn" ng-click="getSimpleBeef()">Grilled</button>
      <button class="cookingStyleBtn" ng-click="getSlowCookBeef()">Slow Cook</button>
      <button class="cookingStyleBtn" ng-click="getPrimeRib()">Prime Rib</button>
      <button class="cookingStyleBtn" ng-click="getTenderloin()">Tenderloin</button>
  </form>
</div>

<div class="wine-container" ng-repeat="key in wineData">
  <div class="wine-container">
      <ul class="wine animated fadeInUpBig">
        <li class="wine-pic-frame"><img class="wine-pic" ng-src="{{key.image}}"></li>
        <li class="wine-details">{{key.name}}</li>
        <li class="wine-details">${{key.price}}</li>
        <li class="wine-details">{{key.varietal}}</li>
        <li class="wine-details">{{key.vintage}}</li>
<!--             <li class="wine-details">{{key.region}}</li> -->
      </ul>
  </div>
</div>
</div>
