<div class="outer-wine-container">

<h1 class="food-headline animated fadeIn">Beef Pairing</h1>

  <div class="form-control">
    <form>
        <button class="btn animated fadeIn" ng-click="getSimpleBeef()">Grilled</button>
    </form>
    <form>
        <button class="btn animated fadeIn" ng-click="getSlowCookBeef()">Slow Cook</button>
    </form>
    <form>
        <button class="btn animated fadeIn" ng-click="getPrimeRib()">Prime Rib</button>
    </form>
    <form>
        <button class="btn animated fadeIn" ng-click="getTenderloin()">Tenderloin</button>
    </form>
  </div>
    <div class="wine-container" ng-repeat="key in wineData">
      <div class="wine-container"> 
          <ul class="wine animated fadeInUpBig">
            <li class="wine-pic-frame"><img class="wine-pic" ng-src="{{key.image}}"></li>
            <li class="wine-details">{{key.name}}</li>
            <li class="wine-details">${{key.price}}</li>
            <li class="wine-details">{{key.varietal}}</li>
            <li class="wine-details">{{key.vintage}}</li>
<!--             <li class="wine-details">{{key.region}}</li> -->
          </ul>
      </div>
    </div>
</div>