<div class="outer-wine-contatiner">

<div class="form-control">
  <form>
    <div class="food-headline">Cheese Pairing</div>
    <div class="cookingStyleBtn" ng-click="getBleuCheese()">Bleu</div>
    <div class="cookingStyleBtn" ng-click="getHardCheese()">Hard</div>
    <div class="cookingStyleBtn" ng-click="getSoftCheese()">Soft</div>
  </form>
  </div>

  <div class="wine-container" ng-repeat="key in wineData">
      <div class="wine-container">
        <ul class="wine animated fadeInUpBig">
            <li class="wine-pic-frame"><img class="wine-pic" ng-src="{{key.image}}"></li>
            <li class="wine-details">{{key.name}}</li>
            <li class="wine-details">${{key.price}}</li>
            <li class="wine-details">{{key.varietal}}</li>
            <li class="wine-details">{{key.vintage}}</li>
<!--             <li class="wine-details">{{key.region}}</li> -->
        </ul>
      </div>
  </div>
</div>
