<div class="outer-wine-contatiner">

<div class="cookingStyleNavbar">
  <form>
    <div class="food-headline">Seafood Pairing</div>
    <div class="cookingStyleBtn" ng-click="getCrab()">Crab</div>
    <div class="cookingStyleBtn" ng-click="getLobster()">Lobster</div>
    <div class="cookingStyleBtn" ng-click="getOyster()">Oyster</div>
    <div class="cookingStyleBtn" ng-click="getShrimp()">Shrimp</div>
    <div class="cookingStyleBtn" ng-click="getScallop()">Scallop</div>
  </form>
</div>

<div class="wine-container" ng-repeat="key in wineData">
  <div class="wine-container">
      <ul class="wine animated fadeInUpBig">
        <li class="wine-pic-frame"><img class="wine-pic" ng-src="{{key.image}}"></li>
        <li class="wine-details">{{key.name}}</li>
        <li class="wine-details">${{key.price}}</li>
        <li class="wine-details">{{key.varietal}}</li>
        <li class="wine-details">{{key.vintage}}</li>
<!--             <li class="wine-details">{{key.region}}</li> -->
      </ul>
  </div>
</div>
</div>
