<div class="outer-wine-contatiner">

  <h1 class="food-headline">Dessert Pairing</h1>

  <div class="form-control">
    <form>
        <button class="btn" ng-click="getChocolate()">Chocolate</button>
    </form>
    <form>
        <button class="btn" ng-click="getDulceDeLeche()">Dulce De Leche</button>
    </form>
  </div>


    <div class="wine-container" ng-repeat="key in wineData">
      <div class="wine-container"> 
          <ul class="wine">
            <li class="wine-pic-frame"><img class="wine-pic" ng-src="{{key.image}}"></li>
            <li class="wine-details">{{key.name}}</li>
            <li class="wine-details">${{key.price}}</li>
            <li class="wine-details">{{key.varietal}}</li>
            <li class="wine-details">{{key.vintage}}</li>
<!--             <li class="wine-details">{{key.region}}</li> -->
          </ul>
      </div>
    </div>
</div>