<div class="outer-wine-contatiner">

<div class="cookingStyleNavbar">
    <form>
      <div class="food-headline">Fish Pairing</div>
      <div class="cookingStyleBtn" ng-click="getRichFish()">Rich Sauce</div>
      <div class="cookingStyleBtn" ng-click="getLemonFish()">Lemon</div>
      <div class="cookingStyleBtn" ng-click="getGrilledSalm()">Grilled Salmon</div>
      <div class="cookingStyleBtn" ng-click="getBlackSalm()">Blackened Salmon</div>
      <div class="cookingStyleBtn" ng-click="getRichSalm()">Salmon w/ Rich Sauce</div>
    </form>
</div>

<div class="wine-container" ng-repeat="key in wineData">
    <div class="wine-container">
      <ul class="wine animated fadeInUpBig">
        <li class="wine-pic-frame"><img class="wine-pic" ng-src="{{key.image}}"></li>
        <li class="wine-details">{{key.name}}</li>
        <li class="wine-details">${{key.price}}</li>
        <li class="wine-details">{{key.varietal}}</li>
        <li class="wine-details">{{key.vintage}}</li>
      </ul>
  </div>
</div>
</div>
