<div class="outer-wine-contatiner">

<div class="cookingStyleNavbar">
    <form>
      <div class="food-headline">Pasta Pairing</div>
      <div class="cookingStyleBtn" ng-click="getLasagne()">Lasagne</div>
      <div class="cookingStyleBtn" ng-click="getWhitePasta()">Cream Sauce</div>
      <div class="cookingStyleBtn" ng-click="getTomatoPasta()">Tomato Sauce</div>
      <div class="cookingStyleBtn" ng-click="getFishPasta()">Pasta with Fish</div>
    </form>
</div>

<div class="wine-container" ng-repeat="key in wineData">
  <div class="wine-container">
      <ul class="wine animated fadeInUpBig">
        <li class="wine-pic-frame"><img class="wine-pic" ng-src="{{key.image}}"></li>
        <li class="wine-details">{{key.name}}</li>
        <li class="wine-details">${{key.price}}</li>
        <li class="wine-details">{{key.varietal}}</li>
        <li class="wine-details">{{key.vintage}}</li>
      </ul>
  </div>
</div>
</div>
