<div class="outer-wine-contatiner">

<div class="form-control">
    <form>
        <div class="food-headline">Poultry Pairing</div>
        <div class="cookingStyleBtn" ng-click="getFriedChk()">Fried Chicken</div>
        <div class="cookingStyleBtn" ng-click="getSpicyChk()">Spicy/ Smoky</div>
        <div class="cookingStyleBtn" ng-click="getRoastChk()">Roast</div>
        <div class="cookingStyleBtn" ng-click="getDuck()">Duck</div>
    </form>
</div>

<div class="wine-container" ng-repeat="key in wineData">
  <div class="wine-container">
      <ul class="wine animated fadeInUpBig">
        <li class="wine-pic-frame"><img class="wine-pic" ng-src="{{key.image}}"></li>
        <li class="wine-details">{{key.name}}</li>
        <li class="wine-details">${{key.price}}</li>
        <li class="wine-details">{{key.varietal}}</li>
        <li class="wine-details">{{key.vintage}}</li>
      </ul>
  </div>
</div>
</div>
