<div class="outer-wine-contatiner">

<div class="form-control">
  <form>
    <div class="food-headline animated fadeIn">Vegetable Pairing</div>
    <button class="cookingStyleBtn animated fadeIn" ng-click="getRoot()">Mushroom/ Potato</button>
    <button class="cookingStyleBtn animated fadeIn" ng-click="getAvocado()">Avocado</button>
    <button class="cookingStyleBtn animated fadeIn" ng-click="getEggplant()">Eggplant</button>
    <button class="cookingStyleBtn animated fadeIn" ng-click="getBean()">Bean/ Lentil</button>
    <button class="cookingStyleBtn animated fadeIn" ng-click="getTomato()">Tomato</button>
  </form>
</div>

<div class="wine-container" ng-repeat="key in wineData">
  <div class="wine-container">
      <ul class="wine animated fadeInUpBig">
        <li class="wine-pic-frame"><img class="wine-pic" ng-src="{{key.image}}"></li>
        <li class="wine-details">{{key.name}}</li>
        <li class="wine-details">${{key.price}}</li>
        <li class="wine-details">{{key.varietal}}</li>
        <li class="wine-details">{{key.vintage}}</li>
      </ul>
  </div>
</div>
</div>
