/** {
	outline: 1px dotted blue;
}*/
html, body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	height: 2000px;
	width: 100%;
	background: hsl(36, 100%, 95%);
}
.main-headline-container {
	background-image: url('/images/grapesOne.jpg');
	background-position: center;
	height: 400px;
	width: 100%;
	text-align: center;
}
.main-headline {
	font-family: sans-serif;
	margin: 0 auto;
	color: #fff;
	padding-top: 150px;
	letter-spacing: 10px;
	font-weight: lighter;
	font-size: 6rem;
}
.main-sub-headline {
	color: hsl(20, 30%, 27%);
	font-family: 'Didot';
	letter-spacing: 1.5px;
	font-weight: lighter;
}
.sub-headline-container {
	color: hsl(20, 30%, 27%);
	font-family: sans-serif;
	text-align: center;
}
.btn {
	color: hsl(20, 30%, 27%);
	font-family: sans-serif;
	font-size: 1rem;
	font-weight: lighter;
	height: 35px;
	width: 175px;
	border: 2px solid hsl(20, 30%, 27%);
	background: none;
	margin: 0px 5px 0px 5px;
}
.btn:hover {
	color: hsl(36, 100%, 95%);
	background: hsl(355, 49%, 24%);
	font-weight: lighter;
}
.navbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.navbar-link {
	color: hsl(20, 30%, 27%);
	height: 16px;
	border-left: 1px solid hsl(20, 30%, 27%);
	border-right: 1px solid hsl(20, 30%, 27%);
	margin: 0px 10px 0px 10px;
	list-style-type: none;
}
.logout-btn {
	background: none;
	border: none;
	font-size: 1rem;
	font-family: sans-serif;
}
.logout-btn:hover {
	font-weight: lighter;
}
.header-link {
	color: hsl(20, 30%, 27%);
	list-style-type: none;
	text-align: center;
	margin-right: 35px;
	text-decoration: none;
	letter-spacing: 2px;
}
.link {
	color: hsl(20, 30%, 27%);
	padding-left: 8px;
	padding-right: 8px;
	color: black;
	font-family: sans-serif;
	text-decoration: none;
	letter-spacing: 2px;
}
.link:hover {
	font-weight: lighter;
}
.food-headline {
	color: hsl(20, 30%, 27%);
	text-align: center;
	font-family: 'Great Vibes', cursive;
	letter-spacing: 4px;
	font-weight: lighter;
	font-size: 2rem;
}
.form-control {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.outer-wine-container {
	margin-top: 0;
	margin: 0 auto;
}
.wine-container {
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.wine {
	text-align: center;
	display: flex;
	flex-direction: column;
}
.wine-pic {
	list-style-type: none;
	margin: 0 auto;
	height: 150px;
	width: 150px;
	border: 2px solid hsl(20, 30%, 27%);
	border-radius: 100%;
}
.wine-pic-frame {
	list-style-type: none;
/*	display: flex;
	height: 175px;
	width: 175px;
	border-radius: 100%;
	border: 1px dotted green;
	margin: 0 auto;*/
}
.wine-details {
	font-size: 1.25rem;
	color: hsl(12, 8%, 13%);
	padding-top: 10px;
	margin: 0 auto;
	display: flex;
	list-style-type: none;
    font-family:'Libre Baskerville', serif;
    letter-spacing: 2px;
}
.wine-view {
	padding: 10px;
	padding-bottom: 60px;
}
.auth-headline {
	font-size: 2.5rem;
	font-family: 'Great Vibes', cursive;
}
.auth-form {
	display: flex;
	flex-direction: column;
}
.auth-label {
	font-family: sans-serif;
}
.auth-form-input {
	font-size: 1rem;
	font-weight: lighter;
	margin: 0 auto;
	margin-bottom: 10px;
	width: 200px;
	height: 25px;
	background: none;
	border: 2px solid hsl(20, 30%, 27%);
	text-align: center;
}
.auth-input-btn {
	font-family: sans-serif;
	font-size: 1rem;
	margin: 0 auto;
	margin-bottom: 10px;
	width: 208px;
	height: 28px;
	background: none;
	border: 2px solid hsl(20, 30%, 27%);
}
.auth-input-btn:hover {
	background-color: hsl(351, 71%, 35%);
	color: hsl(36, 100%, 95%);
}
#email:hover {
	background: hsl(347, 77%, 17%);
	color: hsl(36, 100%, 95%);
	border: 2px solid hsl(20, 30%, 27%);
}
#password:hover {
	background: hsl(56, 81%, 69%);
}
.auth-container {
	text-align: center;
}
.login-switcher {
	font-family: sans-serif;
}
.login-switcher-link {
	text-decoration: underline;
}
.login-switcher-link:hover {
	font-weight: bold;
}
.home-container {
	text-align: center;
}
.home-headline {
	margin-top: 0px;
	padding-top: 150px;
	color: hsl(20, 30%, 27%);
	font-family: 'Great Vibes', cursive;
	font-size: 3.5rem;
}
.home-photo {
	margin: 0;
	background: url(/images/vinyardYo.jpg);
	height: 1600px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.home-icon {
	padding-top: 20px;
	padding-right: 15px;
}
.home-icon-cuts {
	padding-top: 20px;
}
.home-icon-container {
	background: hsl(36, 100%, 95%);
	margin: 0 auto;
	border: 2px solid hsl(20, 30%, 27%);
	border-radius: 100%;
	height: 175px;
	width: 175px;
}
.home-paragraph {
	line-height: 50px;
	color: hsl(20, 30%, 27%);
	letter-spacing: 2px;
	font-family: sans-serif;
	font-size: 1.3rem;
}
.footer {
	width: 100%;
	height: 60px;
	background: hsl(359, 18%, 41%);
}
.logo-foot {
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	height: 50px;
	width: 65px;
}
.fa {
	text-align: center;
	z-index: 1;
	color: hsl(36, 100%, 95%);
	margin: 10px 20px 0px 60px;
	height: 30px;
	width: 30px;
}
.bandcamp:hover {
	color: hsl(179, 100%, 44%);
}
.soundcloud:hover {
	color: hsl(18, 100%, 50%);
}
.facebook:hover {
	color: hsl(333, 82%, 59%);
}
.github:hover {
	color: hsl(47, 98%, 54%);
}
.gPlus:hover {
	color: hsl(4, 67%, 52%);
}
.linkedin:hover {
	color: hsl(145, 74%, 47%);
}