/** {
	outline: 1px dotted blue;
}*/
.main-headline-container {
	text-align: center;
}
.main-headline {
	font-family: verdana;
	letter-spacing: 5px;
	font-weight: lighter;
}
.main-sub-headline {
	font-family: 'sans-serif';
	letter-spacing: 1.5px;
	font-weight: lighter;
}
.btn {
	height: 30px;
	width: 150px;
	border: 1.5px solid black;
	background: none;
}
.navbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.navbar-link {
	margin: 0px 10px 0px 10px;
	list-style-type: none;
}
.link {
	color: black;
	font-family: sans-serif;
	text-decoration: none;
}
.food-headline {
	text-align: center;
	font-family: "Didot", sans-serif;
	letter-spacing: 4px;
	font-weight: lighter;
}
.form-control {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.wine-details {
	list-style-type: none;
	font-family: sans-serif;
}