
/*
 Setting up variables to be used in the main.scss file.
*/

$white: #F2F2F2;

$dark: #333;

$redWine: #960000;

$whiteWine: #eef4d4;

$mainCourse: "Optima";

$sansHeadline: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
