$white: #fff;

$light-background: hsl(43, 41%, 93%);

$lightBrown: hsl(20, 30%, 27%);

$complementaryBlue: hsl(177, 30%, 27%);

$lightBrown-border: 2px solid hsl(20, 30%, 27%);

$dark-red-wine: hsl(2, 34%, 30%);

$white-wine: hsl(45, 63%, 58%);

$great-vibes: 'Great Vibes', cursive;

$wine-detail: 'Libre Baskerville', serif;

$main-course: 'Lato', sans-serif;

$button-font: 'Lato', sans-serif;

$home-logout: 'Adamina', serif;

$near-black: hsl(12, 8%, 13%);

$footer-background-color: hsl(37, 19%, 63%);

$color-of-error: hsl(351, 71%, 35%);