$white: #F2F2F2;

$complementaryBlue: #949f9f;

$dark: #333;

$dark-border: 2px solid #722F37;

$dark-red-wine: hsl(2, 34%, 30%);

$white-wine: hsl(45, 63%, 58%);

$great-vibes: 'Great Vibes', cursive;

$sansHeadline: 'Rosario', sans-serif;

$serifBody: 'Crimson Text', serif;

$near-black: hsl(12, 8%, 13%);

$footer-background-color: #949f9f;

$color-of-error: hsl(351, 71%, 35%);
